<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <body>
    <label>$context.get($ctl.getId()).get('label')</label>
    <div class="hint">$context.get($ctl.getId()).get('hint')</label>
    <input name="" value="" type="text"/>
  </body>
</html>
