<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <body>
    <label>$item.getControl().getLabel()</label>
    <div class="hint">$item.getControl().getHint()</label>
    <input name="" value="" type="text"/>
  </body>
</html>
