<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  #header()
  <body>
  
    #foreach ($opt in $renderOptions.keySet())
      <!-- $opt: $renderOptions.get($opt) -->
    #end
  
    #formHeader()

    #foreach ($item in $items)
      #renderItem($item)
    #end

    #formFooter()
  </body>
</html>
